#lupa:hover{
    transition: all .5s;
    color:  rgb(23, 11, 184)!important;
}
#lupa:focus{
    transition: all .5s;
    color:  rgb(23, 11, 184)!important;
}
#lupa:active{
    transition: all .5s;
    color:  rgb(23, 11, 184)!important;
}
.form:hover{
    box-shadow: 2px 2px 2px rgba(65, 64, 64, 0.789);
}
.list-group{
    --bs-list-group-bg: rgba(255, 255, 255, 0)!important;
}
::ng-deep .ngx-pagination {
    padding-left: 0px !important;
}
::ng-deep  .ngx-pagination .current, .btn-info {
    background: #17a2b8 !important;
    border: transparent !important;
    border-radius: 20px !important;
}
  
::ng-deep .ngx-pagination .current:hover {
    transition: all .5s;
    background: #b812d2 !important;
    border-radius: 20px !important; 
    border: transparent !important;
}
::ng-deep .navigation >li{
    transition: all .5s;
    background: #b812d2 !important;
    border-radius: 20px !important; 
}