<div class="container-fluid"> 
    <div class="container bg-light shadow rounded-4 p-2 col-sm-12 col-md-10 col-xl-8 col-lg-7" >
       <h1 class="h1 icono" >A la carta</h1>
       <h5 class="text-center text-muted">Menú</h5> 
       <button class="btn btn-sm m-1 rounded-circle btn-info"  data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fas fa-plus" style="color:rgba(255, 255, 255, 0.986);"></i>
       </button>

       <div class="col">
           <app-plato class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 g-1"  [items]="bus.menu"></app-plato>
       </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
      <div class="modal-content p-2">
        <div class="modal-header d-block py-1 my-0" style="border-bottom: 0;">
            <div class="d-flex" >
                <h5>Agregar </h5>
                <button type="button" class="btn-close border-0 " data-bs-dismiss="modal" (click)="limpiar()" aria-label="Close"></button>      
            </div>
            <div class="  d-flex form-control col border rounded-pill border-0 shadow ">
                <form  class="DocSearch-Form d-flex col " [formGroup]="angForm" (ngSubmit)="buscar(termino.value)"  novalidate>
                    <button *ngIf="!bus.loading" type="submit" class="btn m-0 p-0 border-0 buscar" title="search">
                        <label class="DocSearch-MagnifierLabel buscar" style="cursor: pointer;" for="docsearch-input" id="docsearch-label">
                            <svg width="20" id="lupa" height="20" style="color: rgb(170, 17, 240); " viewBox="0 0 20 20">
                                <path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                            </svg>
                        </label> 
                    </button>
                <div class="loading" *ngIf="bus.loading" style="width: 20px; height: 20px;" >
                    <svg viewBox="0 0 38 38" style="color: rgb(170, 17, 240); " stroke="currentColor" stroke-opacity=".5">
                        <g fill="none" fill-rule="evenodd">
                            <g transform="translate(1 1)" stroke-width="2">
                                <circle stroke-opacity=".3" cx="18" cy="18" r="18"></circle>
                                <path d="M36 18c0-9.94-8.06-18-18-18">
                                    <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"></animateTransform>
                                </path>
                            </g></g>
                        </svg>
                    </div>
                    <input  required #termino (keyup)="bus.resultado=false; bus.receta=[]" formControlName="text"  class="col mx-1" style="border: none; outline:none;" aria-autocomplete="both" aria-labelledby="docsearch-label" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="Buscar platos" maxlength="64" type="search"> 
                </form>
               </div>
        </div>
        <hr class="m-1">
        <div class="modal-body">
            <div >
                <app-plato class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4"  [items]="bus.receta"></app-plato>
                <div *ngIf="bus.resultado===true" class="text-muted text-center h5 my-4">
                    No se encontrarón resultados para: {{termino.value}}
                </div>
            </div>
        </div>
    </div>
</div>
</div>