<div class="dropstart" >
    <button type="button " class="btn btn-sm p-0 rounded-circle border-0" data-bs-toggle="dropdown" aria-expanded="false">
      <div  class="img-fluid bg" style="border-radius: 100%; overflow: hidden; width: 30px; height: 30px;" alt="usuario"></div>  
      <!-- <img src="https://avatars.githubusercontent.com/u/74853282?s=48&v=4" class="img-fluid" style="border-radius: 100%; overflow: hidden; width: 30px; height: 30px;" alt="usuario">   -->
    </button>

    <ul class="dropdown-menu text-center" style="min-width: 300px;" aria-labelledby="dropdownMenuButton1"> 
        <div  class="image bg border border-success " style="margin: 0 auto;" alt="usuario"></div>  
      <!-- <li><a class="dropdown-item" href="#">Pedidos</a></li> -->
      <li><a class="dropdown-item" [routerLink]="['perfil']" >Perfil</a></li>
      <li><a class="dropdown-item" (click)="auth.logOut()">Salir</a></li>
    </ul>
  </div>