/* You can add global styles to this file, and also import other style files */
.letra{
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: larger;
}
.fuente{
    font-family: 'Poppins', sans-serif;
}
.icono{
    /* color: red; */
    text-shadow: -1px 2px 0 #0cbdee, -1px 2px 0 #152cc7;
    color: #c86400;
    border-top:solid 3px  rgb(228, 60, 240);
    border-bottom:solid 3px  rgb(228, 60, 240);
}
.btn-morado{
    color: white;
    background-color: rgba(140, 0, 255, 0.913);
    border: none;
    box-shadow:1px 1px 2px 1px rgba(140, 0, 255, 0.913);
}
.btn-verde{
    color: white;
    background-color: rgba(0, 212, 0, 0.86);
    border: none;
    box-shadow:1px 1px 2px 1px rgba(0, 212, 0, 0.86);
}

.btn-morado:active{
    box-shadow:1px 1px 6px 1px rgba(140, 0, 255, 0.913)!important;
}
.btn-morado:focus{
    box-shadow:1px 1px 6px 1px rgba(140, 0, 255, 0.913)!important;

}
.btn-verde:active{
    box-shadow:1px 1px 6px 1px rgba(0, 212, 0, 0.86)!important;
}
.btn-verde:focus{
    box-shadow:1px 1px 6px 1px rgba(0, 212, 0, 0.86)!important;

}
.texto{
    -webkit-text-size-adjust: 100%; 
color: #666;
font-style: normal;
font-family: inherit;
font-weight: normal;
text-rendering: optimizeLegibility;
font-size: 14px;
/* text-align: justify; */
line-height: 1.6;
border: none;
}
.texto-1{
    -webkit-text-size-adjust: 100%; 
color: #666;
font-style: normal;
font-family: inherit;
font-weight: normal;
text-rendering: optimizeLegibility;
font-size: 14px;
/* text-align: justify; */
line-height: 1.6;
/* border: none; */

}
.text-cafe{
    color: #84592d;
}

  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }