<!-- <div class="col-12 col-md-11 texto" style="margin: 0 auto;"> -->
  <!-- <div class="container texto"> -->
    <div *ngIf="mostrar"  class="card border-0 p-1 p-sm-2 p-md-4 shadow fadeIn first">
      <h4 class="p-2 h4 text-center" style="color: rgb(34, 187, 34);">Detalles de la receta</h4>
        <div class="card-body">
          <div class="d-flex flex-wrap">
            <div class="col-12 d-flex flex-wrap justify-content-around">
              <div class="col-12 col-md-5 mb-3">
                <h5 class="card-title h5 text-center text-cafe">{{plato.title}}</h5>
                <img [src]="plato.image" class="card-img-top  rounded-4 shadow-sm"  [alt]="plato.image">
              </div>
              <div class="col-12 col-md-5">
                <h6 class="h6 text-center text-cafe">Ingredientes</h6>
                <ul class="list-group  list-group-flush ">
                  <li *ngFor="let item of plato.extendedIngredients" class="list-group-item m-0 p-0 texto-1">{{item.original}}</li>
                </ul>
              </div>
            </div>
            <div class="container mt-3 d-flex flex-wrap justify-content-center">
              <p *ngIf="plato.vegan" class="m-1 texto-1 p-2 d-flex align-items-center" ><i class="h1 mx-2 text-success fas fa-leaf" ></i>Vegano </p>
              <p *ngIf="!plato.vegan" class="m-1 texto-1 p-2 d-flex align-items-center" ><i class="h1 mx-2 text-cafe fas fa-drumstick-bite" ></i>No vegano </p>
              <p class="m-1 texto-1 p-2 d-flex align-items-center" ><i class="h1 mx-2 text-danger fas fa-heart" ></i>Puntaje de salud {{plato.healthScore}}</p>
              <p class="m-1 texto-1 p-2 d-flex align-items-center" ><i class="h1 mx-2 text-success fas fa-dollar-sign"></i>Precio por ración ${{plato.pricePerServing}}</p>
              <p class="m-1 texto-1 p-2 d-flex align-items-center" ><i class="h1 mx-2 text-info fa fa-clock-o"></i>Preparación {{plato.readyInMinutes}} minutos</p>
              <p class="m-1 texto-1 p-2 d-flex align-items-center" ><i class="h1 mx-2 text-primary fas fa-thumbs-up"></i>{{plato.aggregateLikes}}</p>
            </div>
            <div class="container mt-3 rounded-2 p-3" style="background-color: rgba(237, 237, 237, 0.137);">
              <h6 class="h6 text-left text-cafe">Instrucciones</h6>
              <p class="bagd"  [innerHTML]="plato.instructions | sanitizeHtml"></p>
              <h6 class="h6 text-left text-cafe">Resumen</h6> 
              <p class=""  [innerHTML]="plato.summary | sanitizeHtml" [id]="plato.id"></p>
            </div>
          </div>
        </div>
    </div>
  <!-- </div>  -->
<!-- </div> -->
<p *ngIf="obj" class="alert alert-primary text-center fadeIn second">No se encontrarón resultados para su busqueda</p>
<div *ngIf="loading" class="container-fluid m-0 p-0  d-flex justify-content-center position-absolute top-0 start-0 position-fixed align-items-center" style="height: 100%;  position: static; z-index: 999; background-color: rgba(33, 33, 33, 0.444);" >
  <div class="spinner-border  text-primary h2" style="width: 80px; height: 80px;" role="status">
    <span class="visually-hidden "  >Loading...</span>
  </div>
</div>