:host ::ng-deep a{
    text-decoration: none;
    color: rgb(0, 189, 214);
}

:host ::ng-deep .bagd ol{
    list-style: none;
    padding: 0;
    counter-reset:conta;
}
    :host ::ng-deep .bagd ol> li::before{
    position: relative; 
    left: -5px;
    width: 20px!important;
    height: 20px!important;
    text-align: center;
    color: #fff;
    background-color: #cf29d5;
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    border-radius: 50%;
    counter-increment: conta;
    content: counter(conta) ;
}
